@{
    ViewData["Title"] = "Home Page";
}

@model AccountUserViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Food name in query string: @Html.Italic_Safe(Model.SearchText)</p>
</div>
