@{
    ViewData["Title"] = "Home Page";
}

@model Food

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="FoodName" class="form-control" />
                    <label asp-for="FoodName" class="form-label">Food Name</label>
                    <span asp-validation-for="FoodName" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Save Food</button>
                </div>
            </form>
        </section>
    </div>
</div>
